.modal_remarks_banning_container{
    font-size: 16px;
    height: 180px;
    overflow-y: auto;
    padding-right: 5px;
    margin-bottom: 20px;
    white-space: pre-line;
    overflow-wrap: break-word;
    
}

.view_banned_user_back_button{
    float: right;
}

.nav_item_button i{
    margin-right: 40px;
}