.tabs_list_container a:nth-of-type(1){
    color: #CCCCCC !important;
    background-color: transparent !important;
    border: 1px solid #7A7A7A !important;
    pointer-events: inherit;
}

.tabs_list_container a:nth-of-type(1):hover{
    border: 1px solid white !important;
}

.tabs_list_container a:nth-of-type(2){
    color: #CCCCCC !important;
    background-color: transparent !important;
    border: 1px solid #7A7A7A !important;
    pointer-events: inherit;
}

.tabs_list_container a:nth-of-type(2):hover{
    border: 1px solid white !important;
}

.tabs_list_container a:nth-of-type(3){
    color: #CCCCCC !important;
    background-color: transparent !important;
    border: 1px solid #7A7A7A !important;
    pointer-events: inherit;
}

.tabs_list_container a:nth-of-type(3):hover{
    border: 1px solid white !important;
}

.tabs_list_container a:nth-of-type(4){
    color: white !important;
    background-color: #6946F6 !important;
    border: #422c9b;
    pointer-events: auto;
}

.modal_remarks_banning_container{
    font-size: 16px;
    height: 180px;
    overflow-y: auto;
    padding-right: 5px;
    margin-bottom: 20px;
    white-space: pre-line;
    overflow-wrap: break-word;
    
}

.view_banned_user_back_button{
    float: right;
}